In [3]:
import pandas

In [4]:
conda install pandas

Collecting package metadata (current_repodata.json): ...working... done
Note: you may need to restart the kernel to use updated packages.

Solving environment: ...working... done

# All requested packages already installed.

==> WARNING: A newer version of conda exists. <==
  current version: 23.7.4
  latest version: 25.3.1

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=25.3.1

In [5]:
import pandas as pd

In [6]:
s=pd.Series([10,20,30,40],index=["lavnesh","john","deepak","aman"])
s

lavnesh    10
john       20
deepak     30
aman       40
dtype: int64

In [7]:
data_frame={
    'name':['lavi','babu','bhau'],
     'age':[10,20,30],
      'roll_no':[1,2,3]

}

In [8]:
df=pd.DataFrame(data_frame)

In [9]:
df

   name  age  roll_no
0  lavi   10        1
1  babu   20        2
2  bhau   30        3

In [10]:
data=[['lavnesh',100],['deep',5],['fddf',55]]

In [12]:
pd.DataFrame(data,columns=['name','marks'])

      name  marks
0  lavnesh    100
1     deep      5
2     fddf     55

In [13]:
import numpy as np

In [17]:
conda install openpyxl

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\lavne\anaconda3\envs\python_practice

  added / updated specs:
    - openpyxl


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    openpyxl-3.1.5             |  py311h827c3e9_1         672 KB
    ------------------------------------------------------------
                                           Total:         672 KB

The following NEW packages will be INSTALLED:

  et_xmlfile         pkgs/main/win-64::et_xmlfile-1.1.0-py311haa95532_0
  openpyxl           pkgs/main/win-64::openpyxl-3.1.5-py311h827c3e9_1



Downloading and Extracting Packages

openpyxl-3.1.5       | 672 KB    |            |   0%
openpyxl-3.1.5       | 672 KB    | 2          |   2%
openpyxl-3.1.5       | 672 KB    | ########## | 100%
openpyxl-3.1.5       | 672 KB    | ########## | 100%



Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

==> WARNING: A newer version of conda exists. <==
  current version: 23.7.4
  latest version: 25.3.1

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=25.3.1

In [14]:
data=np.array([[1,2],[3,4]])
df=pd.DataFrame(data,columns=['a','b'])
df

   a  b
0  1  2
1  3  4

In [22]:
pd.read_csv("data.csv")

      name school  marks
0  lavnesh   kvsl     80
1   deepak   kvdl     90
2   pankaj   kvpl    100
3     alex    fdg     75
4     jasi  gfdgd     86
5    shubu    fgd     85
6    rishi  gfdgd     89

In [3]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_excel("student_detail.xlsx")

In [6]:
df

,s.no,Username,Name,mobile no.,parents mobile no.,Roll Number,Course / Branch,profile,Gender\n,LOCATION,Passing Year,X %,XII %,Diploma%,B.Tech CSIT/All Allied branches/ UG%,Name of the college,Do you have any active backlog?,Your home town?,Upload Resume
0,1,ankur.sharma.cse.2021@miet.ac.in,Ankur Sharma,7037941222,7037941222,2100680100063,B.Tech ( CSE),Data Analyst,MALE,Noida,2025,89.0,91.0,NaN,65.0,MIET,No,meerut,https://drive.google.com/u/0/open?usp=forms_we...
1,2,abhay.sharma.cse.2021@miet.ac.in,Abhay Sharma,7037483132,9286256685,2100680100012,B.Tech ( CSE),IT Consultant,MALE,Remote,2025,82.0,85.0,NaN,79.0,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...
2,3,abhishek.malik.cse.2021@miet.ac.in,Abhishek malik,9027948884,9027948884,2100680100020,B.Tech ( CSE),Business Development Excecutive,MALE,Noida,2025,65.0,75.0,NaN,60.0,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...
3,4,akshay.yadav.cse.2021@miet.ac.in,AKSHAY YADAV,8937852021,9557354018,2100680100044,B.Tech ( CSE),IT Consultant,MALE,Noida,2025,70.0,75.0,NaN,67.0,MIET,No,VILLAGE RAWA POST MOHAMMADPUR DHOOMI DISTT MEERUT,https://drive.google.com/u/0/open?usp=forms_we...
4,5,aman.rathi.cse.2021@miet.ac.in,Aman Rathi,9548918127,9548918127,2100680100049,B.Tech ( CSE),Python Developer,MALE,Delhi,2025,80.0,85.0,NaN,75.0,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,305,vineet.kumar.it.2021@miet.ac.in,Vineet Kumar Singh,9569186767,8765559073,2100680130056,B.Tech (IT),Data Analyst,MALE,Noida,2025,83.0,83.0,NaN,68.0,MIET,No,Varanasi,https://drive.google.com/u/0/open?usp=forms_we...
305,306,vineet.panwar.it.2021@miet.ac.in,Vineet panwar,9389688596,9389688596,2100680130057,B.Tech (IT),IT Consultant,MALE,Noida,2025,70.0,82.0,NaN,80.0,MIET,No,Kaili sardhana Meerut,https://drive.google.com/u/0/open?usp=forms_we...
306,307,vipul.bansal.it.2021@miet.ac.in,Vipul Bansal,9870775576,NaN,2100680130058,B.Tech (IT),Python Developer,MALE,Noida,2025,79.0,78.0,NaN,70.0,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...
307,308,vipul.tyagi.it.2021@miet.ac.in,Vipul Tyagi,9411027787,NaN,2100680130059,B.Tech (IT),Python Developer,MALE,Noida,2025,84.0,79.0,NaN,62.0,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...
308,309,nancys28072003@gmail.com,Nainsi,9027714850,8279572269,2200680139003,B.Tech (IT),IT Consultant,FEMALE,Noida,2025,58.0,60.0,75.0,86.0,MIET,No,Muzaffarnagar,https://drive.google.com/u/0/open?usp=forms_we...

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   s.no                                  309 non-null    int64
 1   Username                              309 non-null    object
 2   Name                                  309 non-null    object
 3   mobile no.                            309 non-null    int64
 4   parents mobile no.                    272 non-null    object
 5   Roll Number                           309 non-null    int64
 6   Course / Branch                       309 non-null    object
 7   profile                               309 non-null    object
 8   Gender
                               309 non-null    object
 9   LOCATION                              309 non-null    object
 10  Passing Year                          309 non-null    int64
 11   X %                                  309 non-null    float64
 12   XII %                                305 non-null    float64
 13  Diploma%                              17 non-null     float64
 14  B.Tech CSIT/All Allied branches/ UG%  309 non-null    float64
 15  Name of the college                   309 non-null    object
 16  Do you have any active backlog?       309 non-null    object
 17  Your home town?                       309 non-null    object
 18  Upload Resume                         309 non-null    object
dtypes: float64(4), int64(4), object(11)
memory usage: 46.0+ KB

In [8]:
df['profile'].value_counts()

profile
Data Analyst                       110
Python Developer                   106
IT Consultant                       36
AI/ML Engineer                      31
Business Development Excecutive     21
Customer Support                     5
Name: count, dtype: int64

In [17]:

df['new_col']=df['Username'].apply(lambda x:x.split('@')[0])

In [18]:
df['new_col']

0        ankur.sharma.cse.2021
1        abhay.sharma.cse.2021
2      abhishek.malik.cse.2021
3        akshay.yadav.cse.2021
4          aman.rathi.cse.2021
                ...
304       vineet.kumar.it.2021
305      vineet.panwar.it.2021
306       vipul.bansal.it.2021
307        vipul.tyagi.it.2021
308             nancys28072003
Name: new_col, Length: 309, dtype: object

In [19]:
l=[]
other=[]
df['new_col']=df['new_col'].apply(lambda x:l.append(x) if 'cseds' in x else other.append(x))

['nikita.tiwari.cseds.2021',
 'aman.upadhayay.cseds.2021',
 'aastha.malik.cseds.2021',
 'aditya.dabas.cseds.2021',
 'aman.chhabra.cseds.2021',
 'ananya.dudeja.cseds.2021',
 'arthav.kumar.cseds.2021',
 'ayush.chaudhary.cseds.2021',
 'krishna.kumar.cseds.2021',
 'lavnesh.kumar.cseds.2021',
 'nipun.singhal.cseds.2021',
 'samarth.kaushik.cseds.2021',
 'shobit.choudhary.cseds.2021',
 'shubham.yadav.cseds.2021',
 'sneha.s.cseds.2021',
 'sparsh.kansal.cseds.2021',
 'tushar.goel.cseds.2021',
 'vansh.gupta.cseds.2021',
 'yashika.yadav.cseds.2021',
 'akhil.kumar.csedsl.2021',
 'siddhant.kumar.csedsl.2021',
 'anshul.tyagi.cseds.2021']

In [31]:
a="cseds"
df2=df[df['Username'].str.contains(a)]

In [32]:
df2.shape

(22, 20)

In [33]:
df2

,s.no,Username,Name,mobile no.,parents mobile no.,Roll Number,Course / Branch,profile,Gender\n,LOCATION,Passing Year,X %,XII %,Diploma%,B.Tech CSIT/All Allied branches/ UG%,Name of the college,Do you have any active backlog?,Your home town?,Upload Resume,new_col
237,238,nikita.tiwari.cseds.2021@miet.ac.in,NIKITA TIWARI,7505883356,8218827406,2100681540032,B.Tech (DS),Data Analyst,FEMALE,Noida,2025,80.00,85.00,NaN,70.00,MIET,No,MEERUT,https://drive.google.com/u/0/open?usp=forms_we...,None
238,239,aman.upadhayay.cseds.2021@miet.ac.in,Aman Upadhayay,7310993740,9368947040,2100681540008,B.Tech (DS),IT Consultant,MALE,Noida,2025,91.00,87.00,NaN,74.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
239,240,aastha.malik.cseds.2021@miet.ac.in,Aastha Malik,9119021892,8077854985,2100681540001,B.Tech (DS),AI/ML Engineer,FEMALE,Noida,2025,94.33,91.33,NaN,76.00,MIET,No,"Meerut, Uttar Pradesh",https://drive.google.com/u/0/open?usp=forms_we...,None
240,241,aditya.dabas.cseds.2021@miet.ac.in,Aditya dabas,9997814914,8171365555,2100681540003,B.Tech (DS),Data Analyst,MALE,Noida,2025,87.60,85.60,NaN,65.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
241,242,aman.chhabra.cseds.2021@miet.ac.in,Aman chhabra,8077811415,9837252024,2100681540007,B.Tech (DS),Python Developer,MALE,Noida,2025,73.00,87.00,NaN,75.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
242,243,ananya.dudeja.cseds.2021@miet.ac.in,Ananya Dudeja,9389711407,7983343011,2100681540010,B.Tech (DS),Data Analyst,FEMALE,Delhi,2025,80.40,82.60,NaN,66.11,MIET,No,Chandausi,https://drive.google.com/u/0/open?usp=forms_we...,None
243,244,arthav.kumar.cseds.2021@miet.ac.in,Arthav Kumar,9528844064,9759227398,2100681540012,B.Tech (DS),IT Consultant,MALE,Remote,2025,90.00,92.20,NaN,65.11,MIET,No,"Nagina, Bijnor, Uttar Pradesh",https://drive.google.com/u/0/open?usp=forms_we...,None
244,245,ayush.chaudhary.cseds.2021@miet.ac.in,Ayush Chaudhary,7505836342,8273746340,2100681540013,B.Tech (DS),Python Developer,MALE,Remote,2025,80.80,77.40,NaN,62.00,MIET,No,Muzaffarnagar,https://drive.google.com/u/0/open?usp=forms_we...,None
246,247,krishna.kumar.cseds.2021@miet.ac.in,Krishna kumar,8218848203,8218848203,2100681540027,B.Tech (DS),Data Analyst,MALE,Noida,2025,80.00,73.00,NaN,83.00,MIET,No,MEERUT,https://drive.google.com/u/0/open?usp=forms_we...,None
247,248,lavnesh.kumar.cseds.2021@miet.ac.in,Lavnesh kumar,8851132931,8851132931,2100681540029,B.Tech (DS),AI/ML Engineer,MALE,Delhi,2025,80.70,90.20,NaN,70.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
248,249,nipun.singhal.cseds.2021@miet.ac.in,Nipun Singhal,7037613838,9897063608,2100681540033,B.Tech (DS),IT Consultant,MALE,Noida,2025,83.40,86.40,NaN,76.00,MIET,No,Saharanpur,https://drive.google.com/u/0/open?usp=forms_we...,None
249,250,samarth.kaushik.cseds.2021@miet.ac.in,Samarth Kaushik,8474938373,8474938373,2100681540040,B.Tech (DS),Data Analyst,MALE,Noida,2025,65.00,75.00,NaN,60.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
250,251,shobit.choudhary.cseds.2021@miet.ac.in,Shobit Choudhary,7088069327,9012364376,2100681540043,B.Tech (DS),Data Analyst,MALE,Remote,2025,79.00,85.00,NaN,63.30,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
251,252,shubham.yadav.cseds.2021@miet.ac.in,Shubham yadav,7037326089,9760568944,2100681540047,B.Tech (DS),Data Analyst,MALE,Noida,2025,85.60,86.40,NaN,71.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
252,253,sneha.s.cseds.2021@miet.ac.in,Sneha,7456847103,9027333655,2100681540048,B.Tech (DS),Data Analyst,FEMALE,Noida,2025,77.00,74.00,NaN,70.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
253,254,sparsh.kansal.cseds.2021@miet.ac.in,Sparsh Kansal,9193252751,9837034703,2100681540049,B.Tech (DS),Python Developer,MALE,Remote,2025,91.00,87.00,NaN,70.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
254,255,tushar.goel.cseds.2021@miet.ac.in,Tushar Goel,7900241250,9634212346,2100681540052,B.Tech (DS),Data Analyst,MALE,Noida,2025,85.00,90.00,NaN,75.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
255,256,vansh.gupta.cseds.2021@miet.ac.in,Vansh Gupta,7217547363,8755373680,2100681540054,B.Tech (DS),Data Analyst,MALE,Remote,2025,81.00,75.40,NaN,68.00,MIET,No,Muzaffarnagar,https://drive.google.com/u/0/open?usp=forms_we...,None
256,257,yashika.yadav.cseds.2021@miet.ac.in,Yashika yadav,7452858186,9897928186,2100681540057,B.Tech (DS),Python Developer,FEMALE,Remote,2025,90.40,84.00,NaN,73.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
264,265,akhil.kumar.csedsl.2021@miet.ac.in,Akhil kumar,7668111413,8791931248,2200681549001,B.Tech (DS),Data Analyst,MALE,Noida,2025,70.00,62.00,70.0,68.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
265,266,siddhant.kumar.csedsl.2021@miet.ac.in,Siddhant,9528956554,9528619302,2200681549006,B.Tech (DS),Business Development Excecutive,MALE,Remote,2025,82.00,56.00,66.0,60.00,MIET,No,Saharanpur,https://drive.google.com/u/0/open?usp=forms_we...,None
266,267,anshul.tyagi.cseds.2021@miet.ac.in,Anshul Tyagi,8954092594,8954092594,2100681540011,B.Tech (DS),AI/ML Engineer,MALE,Noida,2025,82.00,85.00,NaN,7.60,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 20 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   s.no                                  309 non-null    int64
 1   Username                              309 non-null    object
 2   Name                                  309 non-null    object
 3   mobile no.                            309 non-null    int64
 4   parents mobile no.                    272 non-null    object
 5   Roll Number                           309 non-null    int64
 6   Course / Branch                       309 non-null    object
 7   profile                               309 non-null    object
 8   Gender
                               309 non-null    object
 9   LOCATION                              309 non-null    object
 10  Passing Year                          309 non-null    int64
 11   X %                                  309 non-null    float64
 12   XII %                                305 non-null    float64
 13  Diploma%                              17 non-null     float64
 14  B.Tech CSIT/All Allied branches/ UG%  309 non-null    float64
 15  Name of the college                   309 non-null    object
 16  Do you have any active backlog?       309 non-null    object
 17  Your home town?                       309 non-null    object
 18  Upload Resume                         309 non-null    object
 19  new_col                               0 non-null      object
dtypes: float64(4), int64(4), object(12)
memory usage: 48.4+ KB

In [40]:
df.column

AttributeError: 'DataFrame' object has no attribute 'column'

In [37]:
df2

,s.no,Username,Name,mobile no.,parents mobile no.,Roll Number,Course / Branch,profile,Gender\n,LOCATION,Passing Year,X %,XII %,Diploma%,B.Tech CSIT/All Allied branches/ UG%,Name of the college,Do you have any active backlog?,Your home town?,Upload Resume,new_col
237,238,nikita.tiwari.cseds.2021@miet.ac.in,NIKITA TIWARI,7505883356,8218827406,2100681540032,B.Tech (DS),Data Analyst,FEMALE,Noida,2025,80.00,85.00,NaN,70.00,MIET,No,MEERUT,https://drive.google.com/u/0/open?usp=forms_we...,None
238,239,aman.upadhayay.cseds.2021@miet.ac.in,Aman Upadhayay,7310993740,9368947040,2100681540008,B.Tech (DS),IT Consultant,MALE,Noida,2025,91.00,87.00,NaN,74.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
239,240,aastha.malik.cseds.2021@miet.ac.in,Aastha Malik,9119021892,8077854985,2100681540001,B.Tech (DS),AI/ML Engineer,FEMALE,Noida,2025,94.33,91.33,NaN,76.00,MIET,No,"Meerut, Uttar Pradesh",https://drive.google.com/u/0/open?usp=forms_we...,None
240,241,aditya.dabas.cseds.2021@miet.ac.in,Aditya dabas,9997814914,8171365555,2100681540003,B.Tech (DS),Data Analyst,MALE,Noida,2025,87.60,85.60,NaN,65.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
241,242,aman.chhabra.cseds.2021@miet.ac.in,Aman chhabra,8077811415,9837252024,2100681540007,B.Tech (DS),Python Developer,MALE,Noida,2025,73.00,87.00,NaN,75.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
242,243,ananya.dudeja.cseds.2021@miet.ac.in,Ananya Dudeja,9389711407,7983343011,2100681540010,B.Tech (DS),Data Analyst,FEMALE,Delhi,2025,80.40,82.60,NaN,66.11,MIET,No,Chandausi,https://drive.google.com/u/0/open?usp=forms_we...,None
243,244,arthav.kumar.cseds.2021@miet.ac.in,Arthav Kumar,9528844064,9759227398,2100681540012,B.Tech (DS),IT Consultant,MALE,Remote,2025,90.00,92.20,NaN,65.11,MIET,No,"Nagina, Bijnor, Uttar Pradesh",https://drive.google.com/u/0/open?usp=forms_we...,None
244,245,ayush.chaudhary.cseds.2021@miet.ac.in,Ayush Chaudhary,7505836342,8273746340,2100681540013,B.Tech (DS),Python Developer,MALE,Remote,2025,80.80,77.40,NaN,62.00,MIET,No,Muzaffarnagar,https://drive.google.com/u/0/open?usp=forms_we...,None
246,247,krishna.kumar.cseds.2021@miet.ac.in,Krishna kumar,8218848203,8218848203,2100681540027,B.Tech (DS),Data Analyst,MALE,Noida,2025,80.00,73.00,NaN,83.00,MIET,No,MEERUT,https://drive.google.com/u/0/open?usp=forms_we...,None
247,248,lavnesh.kumar.cseds.2021@miet.ac.in,Lavnesh kumar,8851132931,8851132931,2100681540029,B.Tech (DS),AI/ML Engineer,MALE,Delhi,2025,80.70,90.20,NaN,70.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
248,249,nipun.singhal.cseds.2021@miet.ac.in,Nipun Singhal,7037613838,9897063608,2100681540033,B.Tech (DS),IT Consultant,MALE,Noida,2025,83.40,86.40,NaN,76.00,MIET,No,Saharanpur,https://drive.google.com/u/0/open?usp=forms_we...,None
249,250,samarth.kaushik.cseds.2021@miet.ac.in,Samarth Kaushik,8474938373,8474938373,2100681540040,B.Tech (DS),Data Analyst,MALE,Noida,2025,65.00,75.00,NaN,60.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
250,251,shobit.choudhary.cseds.2021@miet.ac.in,Shobit Choudhary,7088069327,9012364376,2100681540043,B.Tech (DS),Data Analyst,MALE,Remote,2025,79.00,85.00,NaN,63.30,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
251,252,shubham.yadav.cseds.2021@miet.ac.in,Shubham yadav,7037326089,9760568944,2100681540047,B.Tech (DS),Data Analyst,MALE,Noida,2025,85.60,86.40,NaN,71.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
252,253,sneha.s.cseds.2021@miet.ac.in,Sneha,7456847103,9027333655,2100681540048,B.Tech (DS),Data Analyst,FEMALE,Noida,2025,77.00,74.00,NaN,70.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
253,254,sparsh.kansal.cseds.2021@miet.ac.in,Sparsh Kansal,9193252751,9837034703,2100681540049,B.Tech (DS),Python Developer,MALE,Remote,2025,91.00,87.00,NaN,70.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
254,255,tushar.goel.cseds.2021@miet.ac.in,Tushar Goel,7900241250,9634212346,2100681540052,B.Tech (DS),Data Analyst,MALE,Noida,2025,85.00,90.00,NaN,75.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
255,256,vansh.gupta.cseds.2021@miet.ac.in,Vansh Gupta,7217547363,8755373680,2100681540054,B.Tech (DS),Data Analyst,MALE,Remote,2025,81.00,75.40,NaN,68.00,MIET,No,Muzaffarnagar,https://drive.google.com/u/0/open?usp=forms_we...,None
256,257,yashika.yadav.cseds.2021@miet.ac.in,Yashika yadav,7452858186,9897928186,2100681540057,B.Tech (DS),Python Developer,FEMALE,Remote,2025,90.40,84.00,NaN,73.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
264,265,akhil.kumar.csedsl.2021@miet.ac.in,Akhil kumar,7668111413,8791931248,2200681549001,B.Tech (DS),Data Analyst,MALE,Noida,2025,70.00,62.00,70.0,68.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None
265,266,siddhant.kumar.csedsl.2021@miet.ac.in,Siddhant,9528956554,9528619302,2200681549006,B.Tech (DS),Business Development Excecutive,MALE,Remote,2025,82.00,56.00,66.0,60.00,MIET,No,Saharanpur,https://drive.google.com/u/0/open?usp=forms_we...,None
266,267,anshul.tyagi.cseds.2021@miet.ac.in,Anshul Tyagi,8954092594,8954092594,2100681540011,B.Tech (DS),AI/ML Engineer,MALE,Noida,2025,82.00,85.00,NaN,7.60,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...,None

In [42]:
df.columns

Index(['s.no', 'Username', 'Name', 'mobile no.', 'parents mobile no.',
       'Roll Number', 'Course / Branch', 'profile', 'Gender\n', 'LOCATION',
       'Passing Year', ' X % ', ' XII % ', 'Diploma%',
       'B.Tech CSIT/All Allied branches/ UG%', 'Name of the college',
       'Do you have any active backlog?', 'Your home town?', 'Upload Resume',
       'new_col'],
      dtype='object')

In [43]:
df['Gender\n'].value_counts()

Gender\n
MALE      211
FEMALE     98
Name: count, dtype: int64

In [47]:
df.columns=df.columns.str.split(' ')

In [46]:
df.columns

Index(['s.no', 'Username', 'Name', 'mobile no.', 'parents mobile no.',
       'Roll Number', 'Course / Branch', 'profile', 'Gender\n', 'LOCATION',
       'Passing Year', ' X % ', ' XII % ', 'Diploma%',
       'B.Tech CSIT/All Allied branches/ UG%', 'Name of the college',
       'Do you have any active backlog?', 'Your home town?', 'Upload Resume',
       'new_col'],
      dtype='object')

In [51]:
df=pd.read_excel("student_detail.xlsx")

In [52]:
df

,s.no,Username,Name,mobile no.,parents mobile no.,Roll Number,Course / Branch,profile,Gender\n,LOCATION,Passing Year,X %,XII %,Diploma%,B.Tech CSIT/All Allied branches/ UG%,Name of the college,Do you have any active backlog?,Your home town?,Upload Resume
0,1,ankur.sharma.cse.2021@miet.ac.in,Ankur Sharma,7037941222,7037941222,2100680100063,B.Tech ( CSE),Data Analyst,MALE,Noida,2025,89.0,91.0,NaN,65.0,MIET,No,meerut,https://drive.google.com/u/0/open?usp=forms_we...
1,2,abhay.sharma.cse.2021@miet.ac.in,Abhay Sharma,7037483132,9286256685,2100680100012,B.Tech ( CSE),IT Consultant,MALE,Remote,2025,82.0,85.0,NaN,79.0,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...
2,3,abhishek.malik.cse.2021@miet.ac.in,Abhishek malik,9027948884,9027948884,2100680100020,B.Tech ( CSE),Business Development Excecutive,MALE,Noida,2025,65.0,75.0,NaN,60.0,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...
3,4,akshay.yadav.cse.2021@miet.ac.in,AKSHAY YADAV,8937852021,9557354018,2100680100044,B.Tech ( CSE),IT Consultant,MALE,Noida,2025,70.0,75.0,NaN,67.0,MIET,No,VILLAGE RAWA POST MOHAMMADPUR DHOOMI DISTT MEERUT,https://drive.google.com/u/0/open?usp=forms_we...
4,5,aman.rathi.cse.2021@miet.ac.in,Aman Rathi,9548918127,9548918127,2100680100049,B.Tech ( CSE),Python Developer,MALE,Delhi,2025,80.0,85.0,NaN,75.0,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,305,vineet.kumar.it.2021@miet.ac.in,Vineet Kumar Singh,9569186767,8765559073,2100680130056,B.Tech (IT),Data Analyst,MALE,Noida,2025,83.0,83.0,NaN,68.0,MIET,No,Varanasi,https://drive.google.com/u/0/open?usp=forms_we...
305,306,vineet.panwar.it.2021@miet.ac.in,Vineet panwar,9389688596,9389688596,2100680130057,B.Tech (IT),IT Consultant,MALE,Noida,2025,70.0,82.0,NaN,80.0,MIET,No,Kaili sardhana Meerut,https://drive.google.com/u/0/open?usp=forms_we...
306,307,vipul.bansal.it.2021@miet.ac.in,Vipul Bansal,9870775576,NaN,2100680130058,B.Tech (IT),Python Developer,MALE,Noida,2025,79.0,78.0,NaN,70.0,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...
307,308,vipul.tyagi.it.2021@miet.ac.in,Vipul Tyagi,9411027787,NaN,2100680130059,B.Tech (IT),Python Developer,MALE,Noida,2025,84.0,79.0,NaN,62.0,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...
308,309,nancys28072003@gmail.com,Nainsi,9027714850,8279572269,2200680139003,B.Tech (IT),IT Consultant,FEMALE,Noida,2025,58.0,60.0,75.0,86.0,MIET,No,Muzaffarnagar,https://drive.google.com/u/0/open?usp=forms_we...

In [55]:
df2=df[df['Username'].str.contains('cseds')]

In [56]:
df2

,s.no,Username,Name,mobile no.,parents mobile no.,Roll Number,Course / Branch,profile,Gender\n,LOCATION,Passing Year,X %,XII %,Diploma%,B.Tech CSIT/All Allied branches/ UG%,Name of the college,Do you have any active backlog?,Your home town?,Upload Resume
237,238,nikita.tiwari.cseds.2021@miet.ac.in,NIKITA TIWARI,7505883356,8218827406,2100681540032,B.Tech (DS),Data Analyst,FEMALE,Noida,2025,80.00,85.00,NaN,70.00,MIET,No,MEERUT,https://drive.google.com/u/0/open?usp=forms_we...
238,239,aman.upadhayay.cseds.2021@miet.ac.in,Aman Upadhayay,7310993740,9368947040,2100681540008,B.Tech (DS),IT Consultant,MALE,Noida,2025,91.00,87.00,NaN,74.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...
239,240,aastha.malik.cseds.2021@miet.ac.in,Aastha Malik,9119021892,8077854985,2100681540001,B.Tech (DS),AI/ML Engineer,FEMALE,Noida,2025,94.33,91.33,NaN,76.00,MIET,No,"Meerut, Uttar Pradesh",https://drive.google.com/u/0/open?usp=forms_we...
240,241,aditya.dabas.cseds.2021@miet.ac.in,Aditya dabas,9997814914,8171365555,2100681540003,B.Tech (DS),Data Analyst,MALE,Noida,2025,87.60,85.60,NaN,65.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...
241,242,aman.chhabra.cseds.2021@miet.ac.in,Aman chhabra,8077811415,9837252024,2100681540007,B.Tech (DS),Python Developer,MALE,Noida,2025,73.00,87.00,NaN,75.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...
242,243,ananya.dudeja.cseds.2021@miet.ac.in,Ananya Dudeja,9389711407,7983343011,2100681540010,B.Tech (DS),Data Analyst,FEMALE,Delhi,2025,80.40,82.60,NaN,66.11,MIET,No,Chandausi,https://drive.google.com/u/0/open?usp=forms_we...
243,244,arthav.kumar.cseds.2021@miet.ac.in,Arthav Kumar,9528844064,9759227398,2100681540012,B.Tech (DS),IT Consultant,MALE,Remote,2025,90.00,92.20,NaN,65.11,MIET,No,"Nagina, Bijnor, Uttar Pradesh",https://drive.google.com/u/0/open?usp=forms_we...
244,245,ayush.chaudhary.cseds.2021@miet.ac.in,Ayush Chaudhary,7505836342,8273746340,2100681540013,B.Tech (DS),Python Developer,MALE,Remote,2025,80.80,77.40,NaN,62.00,MIET,No,Muzaffarnagar,https://drive.google.com/u/0/open?usp=forms_we...
246,247,krishna.kumar.cseds.2021@miet.ac.in,Krishna kumar,8218848203,8218848203,2100681540027,B.Tech (DS),Data Analyst,MALE,Noida,2025,80.00,73.00,NaN,83.00,MIET,No,MEERUT,https://drive.google.com/u/0/open?usp=forms_we...
247,248,lavnesh.kumar.cseds.2021@miet.ac.in,Lavnesh kumar,8851132931,8851132931,2100681540029,B.Tech (DS),AI/ML Engineer,MALE,Delhi,2025,80.70,90.20,NaN,70.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...
248,249,nipun.singhal.cseds.2021@miet.ac.in,Nipun Singhal,7037613838,9897063608,2100681540033,B.Tech (DS),IT Consultant,MALE,Noida,2025,83.40,86.40,NaN,76.00,MIET,No,Saharanpur,https://drive.google.com/u/0/open?usp=forms_we...
249,250,samarth.kaushik.cseds.2021@miet.ac.in,Samarth Kaushik,8474938373,8474938373,2100681540040,B.Tech (DS),Data Analyst,MALE,Noida,2025,65.00,75.00,NaN,60.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...
250,251,shobit.choudhary.cseds.2021@miet.ac.in,Shobit Choudhary,7088069327,9012364376,2100681540043,B.Tech (DS),Data Analyst,MALE,Remote,2025,79.00,85.00,NaN,63.30,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...
251,252,shubham.yadav.cseds.2021@miet.ac.in,Shubham yadav,7037326089,9760568944,2100681540047,B.Tech (DS),Data Analyst,MALE,Noida,2025,85.60,86.40,NaN,71.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...
252,253,sneha.s.cseds.2021@miet.ac.in,Sneha,7456847103,9027333655,2100681540048,B.Tech (DS),Data Analyst,FEMALE,Noida,2025,77.00,74.00,NaN,70.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...
253,254,sparsh.kansal.cseds.2021@miet.ac.in,Sparsh Kansal,9193252751,9837034703,2100681540049,B.Tech (DS),Python Developer,MALE,Remote,2025,91.00,87.00,NaN,70.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...
254,255,tushar.goel.cseds.2021@miet.ac.in,Tushar Goel,7900241250,9634212346,2100681540052,B.Tech (DS),Data Analyst,MALE,Noida,2025,85.00,90.00,NaN,75.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...
255,256,vansh.gupta.cseds.2021@miet.ac.in,Vansh Gupta,7217547363,8755373680,2100681540054,B.Tech (DS),Data Analyst,MALE,Remote,2025,81.00,75.40,NaN,68.00,MIET,No,Muzaffarnagar,https://drive.google.com/u/0/open?usp=forms_we...
256,257,yashika.yadav.cseds.2021@miet.ac.in,Yashika yadav,7452858186,9897928186,2100681540057,B.Tech (DS),Python Developer,FEMALE,Remote,2025,90.40,84.00,NaN,73.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...
264,265,akhil.kumar.csedsl.2021@miet.ac.in,Akhil kumar,7668111413,8791931248,2200681549001,B.Tech (DS),Data Analyst,MALE,Noida,2025,70.00,62.00,70.0,68.00,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...
265,266,siddhant.kumar.csedsl.2021@miet.ac.in,Siddhant,9528956554,9528619302,2200681549006,B.Tech (DS),Business Development Excecutive,MALE,Remote,2025,82.00,56.00,66.0,60.00,MIET,No,Saharanpur,https://drive.google.com/u/0/open?usp=forms_we...
266,267,anshul.tyagi.cseds.2021@miet.ac.in,Anshul Tyagi,8954092594,8954092594,2100681540011,B.Tech (DS),AI/ML Engineer,MALE,Noida,2025,82.00,85.00,NaN,7.60,MIET,No,Meerut,https://drive.google.com/u/0/open?usp=forms_we...

In [70]:
df3=df2.groupby('profile')['Username'].apply(list)

In [61]:
df2.columns

Index(['s.no', 'Username', 'Name', 'mobile no.', 'parents mobile no.',
       'Roll Number', 'Course / Branch', 'profile', 'Gender\n', 'LOCATION',
       'Passing Year', ' X % ', ' XII % ', 'Diploma%',
       'B.Tech CSIT/All Allied branches/ UG%', 'Name of the college',
       'Do you have any active backlog?', 'Your home town?', 'Upload Resume'],
      dtype='object')

In [81]:
df3=pd.DataFrame(df3)
df3

                                                                          Username
profile
AI/ML Engineer                   [aastha.malik.cseds.2021@miet.ac.in, lavnesh.k...
Business Development Excecutive            [siddhant.kumar.csedsl.2021@miet.ac.in]
Data Analyst                     [nikita.tiwari.cseds.2021@miet.ac.in, aditya.d...
IT Consultant                    [aman.upadhayay.cseds.2021@miet.ac.in, arthav....
Python Developer                 [aman.chhabra.cseds.2021@miet.ac.in, ayush.cha...

In [91]:
df4=df['Username'].str.split('.')

In [93]:
df4=pd.DataFrame(df4)

In [95]:
df4=lambda x:v[0]

SyntaxError: invalid syntax (2451248277.py, line 1)